---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Normalize default browser styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Variables */
:root {
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 4rem;
  --font-base: 15px;
  --color-white: #ffffff;
  --color-purple: #6f70db;
  --color-background: #202020;
  --color-black: #000000;
  --color-grey: #d9d9d9;
}

/* Base Styles */
html {
  font-size: var(--font-base); /* Base font size for rem scaling */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem; /* Default font size for body text */
  line-height: 1.6;
  background-color: var(--color-black);
  /*background: linear-gradient(to top, var(--color-black), var(--color-background));*/
  color: var(--color-white);
  padding: var(--spacing-medium);
}

/* Headers */
h1, h2, h3 {
  margin-bottom: var(--spacing-medium);
}

/* Links */
a {
  color: var(--color-grey);
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-purple);
}

/* Responsive Layout */
@media (max-width: 768px) {
  html {
    font-size: 13px; /* Smaller base font size for mobile */
  }
}

/* Header */
.site-header {
  padding: var(--spacing-medium);
  border: none;
  margin-bottom: var(--spacing-xlarge);
}

.site-header img {
  width: 160px; /* Adjust logo width */
  display: block;
  margin-left: 0;
}

/* Hero Section */
.hero {
  text-align: left;
  padding: var(--spacing-large) var(--spacing-medium);
}

.hero h1 {
  font-size: 3.5rem; /* Base size for desktop */
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.042em;
  color: var(--color-white);
  margin: 0;
}

.hero h1 .highlight {
  font-weight: 700;
  color: var(--color-purple);
}

.hero .subheadline {
  font-size: 1rem; /* Base size for desktop */
  color: var(--color-grey);
  margin-top: var(--spacing-large);
  line-height: 1.5;
}

.hero .divider {
  border: none;
  border-top: 1px solid var(--color-grey);
  width: 100%;
  max-width: 600px;
  margin-top: var(--spacing-medium);
}

/* Responsive Adjustments for Hero */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem; /* Adjust font size for mobile */
  }

  .hero .subheadline {
    font-size: 1rem; /* Adjust subheadline size for mobile */
    line-height: 1.4;
  }
}

/* Footer */
.site-footer {
  text-align: left;
  color: var(--color-grey);
  padding: var(--spacing-medium);
  font-size: 0.875rem;
}
